/barber-bot/tokens
/barber-bot/tokens/barber-bot-session/component_crx_cache
/barber-bot/tokens/barber-bot-session
/barber-bot/tokens/barber-bot-session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb
/barber-bot/tokens
/barber-bot/tokens/barber-bot-session
/barber-bot/tokens/barber-bot-session/Default/Cache/Cache_Data
/barber-bot/tokens/barber-bot-session
/cred-aws